div {
}

div.Question {
  margin-bottom: 25px;
}

.Question h6 {
  color: #989898;
  font-size: 13px;
}

.card-header h5 {
  font-family: 'Lora';
  padding-bottom: 10px;
  border-bottom: 3px solid #962206;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
}

.card-header {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.card {
  border: 0;
  margin-top: 50px;
}

.card-body {
  padding: 0;
  margin-top: 30px;
}

textarea.form-control {
  border: 1px solid #E2DFDF;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
}

.nav-pills .nav-link {
  font-family: 'Lora';
  font-size: 16px;
}

.nav.nav-pills {
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 86px;*/
}

.nav-link {
  color: #9A9A9A;
  font-weight: bold;
}

.nav-link.hover, .nav-link:hover {
  color: #000000;
}

.nav-link.active:before {
  background-color: #962206;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  z-index: 999;
  left: -11px;
  top: 10px;
}

.nav-link:before {
  display: inline-block;
  content: '';
  width: 18px;
  height: 18px;
  background: #F2EFEF;
  border: 1px solid #B7B7B7;
  border-radius: 10px;
  /*padding-top: 11px;*/
  margin-right: 10px;
  position: absolute;
  left: -8px;
  top: 13px;
  transition: all 0.3s ease-out;
}

.nav-item:before {
  display: inline-block;
  width: 2px;
  height: 100%;
  content: '';
  background-color: #BABABA;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -1;
  transition: all 0.5s ease-out;
}

.nav-item {
  position: relative;
  padding-left: 10px;
  margin-left: 10px;
}

.nav-item:last-child:before {
  display: none;
}

* {
  color: #393A3D;
}

